<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="tn.icm">
                
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <dependent-module archiveName="tn.icm.lib-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/tn.icm.lib/tn.icm.lib">
            <dependency-type>uses</dependency-type>
        </dependent-module>
                
        <property name="context-root" value="tn.icm.war"/>
                
        <property name="java-output-path" value="/tn.icm.war/target/classes"/>
            
    </wb-module>
    
</project-modules>
